header{
background-color: crimson;
color: black;
text-align: center;

}
h2{
    background-color: crimson;
    color: black;
    text-align: center;
}
img{
padding: 50px;
height: auto;
width: 400px;
padding-left:36%;
}

h3{
    background-color: crimson;
    color: black;
text-align: center;
}
