header{
    background-color:rgb(62, 43, 43);
}
h2{
    background-color: crimson;
    color: black;
    text-align: center;
}
img{
padding: 50px;
margin:auto;
width: 400px;
}
h3{
    background-color: crimson;
    color: black;
text-align: center;
}